$primaryColor: #2d1b5b;
$secondaryColor: #1C0C45;
$teritaryColor: #423162;

$primaryFontColor: #fff;
$secondaryFontColor: #a395c7;
$teritaryFontColor: #FFF1A7;

$primaryButtonColor: #732510;
$secondaryButtonColor: #694971;

$primaryTransparentColor: rgba(0, 0, 0, 0.7);



$primaryFontFamily:  'Jua', sans-serif;
$secondaryFontFamily: Arial, Helvetica, sans-serif;
