 @import 'variables';
 @import 'mixins';
 @import 'header';


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFontFamily;
 }
 
 body {
    background-color: $primaryColor;
 }