$primaryColor: #2d1b5b;
$secondaryColor: #1C0C45;
$teritaryColor: #423162;

$primaryFontColor: #FFF1A7;
$secondaryFontColor: #a395c7;
$teritaryFontColor: #fff;




$primaryFontFamily:  'Jua', sans-serif;
